/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(./assets/alexandru-acea--WBYxmW4yuw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato',sans-serif;
}
